body {
  height: 400px;
}
#blankImage {
  height: 100px;
}
#startButton {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}
#form {
  text-align: center;
}
#div {
  margin: 0 auto;
}
h2 {
  margin-top: 4px;
  margin-bottom: 4px;
}
#div2 {
  margin-top: 36px;
}
#text {
  text-align: center;
}
h1 {
  text-align: center;
  margin-bottom: 0px;
}
.game {
  text-align: center;
  margin-top: 10%;
}
#startButton {
  height: 100%;
  width: 50%;
}
#black {
  height: 100%;
  width: 50%;
}
#red {
  height: 100%;
  width: 50%;
}
#above1 {
  height: 100%;
  width: 50%;
}
#below1 {
  height: 100%;
  width: 50%;
}
#above2 {
  height: 100%;
  width: 33%;
}
#between {
  height: 100%;
  width: 33%;
}
#below2 {
  height: 100%;
  width: 33%;
}
#heart {
  height: 100%;
  width: 25%;
}
#diamond {
  height: 100%;
  width: 25%;
}
#spade {
  height: 100%;
  width: 25%;
}
#club {
  height: 100%;
  width: 25%;
}
#newGame {
  display: block;
  margin: 0 auto;
  height: 100%;
  width: 50%;
}
.card {
  height: 100px;
}
#cards {
  margin: 0px;
  height: 100px;
}
#cardSelect {
  margin-top: 30px;
}
gloryButton {
  margin-top: 30px;
}
